<main class="main">
    {{>header}}
    <p>Created by {{ name }}</p>

    <form>
        <input placeholder="Input location">
        <button>Search</button>
    </form>

    <p id="msg1"></p>
    <p id="msg2"></p>
</main>
<script src="/js/app.js"></script>
{{>footer}}